@page
@model ent.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ext.NET Core Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
</head>
<body>
    <div class="container" role="main">
        <div class="page-header">
            <h1>Buttons</h1>
        </div>

        <h2>Html Component</h2>
        <div class="row">
            <div class="col-md-2">
                Button
            </div>
            <div class="col-md-2">
                @Html.Button()
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Button Text
            </div>
            <div class="col-md-2">
                @Html.Button("Submit")
            </div>
        </div>

        <h2>Tag Helper</h2>
        <div class="row">
            <div class="col-md-2">
                Button
            </div>
            <div class="col-md-2">
                <ext-button></ext-button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Button Text
            </div>
            <div class="col-md-2">
                <ext-button>Submit</ext-button>
            </div>
        </div>

        <h2>Code Behind</h2>

        <h3>Html Component</h3>
        
        <div class="row">
            <div class="col-md-2">
                HtmlCompBtn
            </div>
            <div class="col-md-2">
                @Model.HtmlCompBtn
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                HtmlCompBtnVal
            </div>
            <div class="col-md-2">
                @Model.HtmlCompBtnVal
            </div>
        </div>
        
        <h3>Tag Helper</h3>

        <div class="row">
            <div class="col-md-2">
                TagHlpBtn
            </div>
            <div class="col-md-2">
                @Model.TagHlpBtn
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                TagHlpBtnVal
            </div>
            <div class="col-md-2">
                @Model.TagHlpBtnVal
            </div>
        </div>
    </div>
</body>
</html>
